/* box styles / fonts and colors */

/* mobile */
@media only screen and (min-width: 360px){
    *{
        color: black;
        font-family: monospace;
        text-align: center;
    }

    main{
        background-color: coral;
    }

    header{
        background-color: rgb(76, 73, 255);
    }

    aside {
        background-color: rgb(30, 29, 101);
    }

    section{
        background-color: rgb(112, 196, 232);
    }

    section:nth-child(4) {
        background-color: rgb(61, 84, 94);
    }

    article{
        background-color: rgb(7, 55, 92);
    }

    article:nth-child(2){
        background-color: rgb(49, 91, 121);
    }

    article:nth-child(3){
        background-color: rgb(133, 182, 216);
    }

    article:nth-child(4){
        background-color: rgb(38, 60, 159);
    }

    footer{
        background-color: rgb(42, 16, 174);
    }
}

/* tablet */
@media only screen and (min-width: 768px){
    *{
        color: black;
        font-family: monospace;
        text-align: center;
    }
    
    main{
        color: rgb(0, 58, 128);
    }
    header{
        background-color: rgb(83, 49, 141);
    }

    aside{
        background-color: rgb(120, 55, 232);
    }

    section{
        background-color: rgb(63, 12, 145);
    }

    section:nth-child(4){
        background-color: rgb(143, 113, 211);
    }

    article{
        background-color: rgb(86, 44, 123);
    }

    article:nth-child(2){
        background-color: rgb(52, 6, 92);
    }

    article:nth-child(3){
        background-color: rgb(95, 56, 172);
    }
    article:nth-child(4){
        background-color: rgb(164, 81, 236);
    }

    footer{ 
        background-color: rgb(86, 26, 142);
    }
}

/* desktop */
/* float */
@media only screen and (min-width: 960px){ 
    *{
        color: black;
        font-family: monospace;
        text-align: center;
    }
    
    main{
        color: green;
    }
    header{

        background-color: rgb(205, 83, 83);
    }

    aside{

        background-color: rgb(240, 30, 30);
    }

    section{

        background-color: rgb(96, 21, 21);
    }

    section:nth-child(4){
        background-color: rgb(133, 60, 60);
    }

    article{
        background-color: rgb(228, 95, 24);
    }

    article:nth-child(2){
        background-color: rgb(172, 73, 46);
    }

    article:nth-child(3){
        background-color: rgb(203, 122, 78);
    }
    article:nth-child(4){
        background-color: rgb(179, 71, 24);
    }

    footer{ 
        background-color: rgb(215, 151, 72);
    }
}